.tooltip-box {
padding: 4px 6px;
border: 1px solid #E3E3E3;
box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}

.line {
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 6px 0px; */
}

.line-bottom {
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   margin-top: 4px;
}

.label {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #60636C;
}

.price-label {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 16px;
    color: #02113B;
}

.label-data {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #02113B;
}